// Vertical Grid System (VGS)
// ===========================================
// https://github.com/byronwong/vertical-grid-system

// Variables
// ---------
$base-font-size: 14;
$base-line-height : 1.5; // alternative bases if you think 150% is too much 1, 1.25, 1.5, 1.75, 2
$base-lh-unit: 0.5;
$su: 0.5rem; // Spacing unit (su) does not like taking a variable

// Font families
$font-family-display: 'Open Sans', sans-serif;
$font-family-heading: 'Open Sans', sans-serif;
$font-family-copy: 'Open Sans', sans-serif;

// Modular Scale
$h1: 5.96;
$h2: 3.815;
$h3: 2.441;
$h4: 1.563;
$h5: 0.8;
$h6: 0.8;
$p: 1;

// Borders
// -------
// returns the amount of rems equlivilant in x pixel border
// to use: calBorder(1);
@function calBorder ($borderWidthInPx : 1) {
  @return ((1 / $base-font-size) * $borderWidthInPx) + rem;
}

// returns the amount of required spacing minus the border
// to use: calSpacing(1,2);
@function calSpacing($borderWidthInPx: 1, $spacingMultiplier : 1) {
  @return (($su * $spacingMultiplier) - ((1/$base-font-size) * $borderWidthInPx));
}

// Spacing
// -------
// calSu(4) == $su * 4
@function calSu($spacingUnitMultiplier){
  @return ($su * $spacingUnitMultiplier);
}


//
// CSS Defaults
// ------------
html {
  font:{
    size: $base-font-size + px;
    family: sans-serif;
  }
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,p,blockquote,th,td,ul,li {
  text-rendering: optimizeLegibility;
  vertical-align: baseline;
  color:$base-color;
}


// Vertical Guides/ Grids VG baseline grid
// use line height as unit
// colors: #0ff, #999;
@mixin vg {
  background-image: -webkit-linear-gradient(top,#0ff 0,rgba(255,255,255,0)1px);
  background-image: -moz-linear-gradient(top,#0ff 0,rgba(255,255,255,0)1px);
  background-image: -o-linear-gradient(top,#0ff 0,rgba(255,255,255,0)1px);
  background-image: linear-gradient(to bottom,#0ff 0,rgba(255,255,255,0)1px);
  background-repeat: repeat-y;
  background-size: 100% $base-lh-unit + rem;
}

// Mixins
// ------

// Manual font sizes
@mixin calFontSize($scale-size){
  font-size: $scale-size + rem;
}

// Manual line height
// THINGS TO DO: letter spacing see skeleton
@mixin calLineHeight($scale-size){
  line-height: (ceil(round($scale-size) / $base-line-height)) * $base-line-height + rem;
}


@mixin h1 {
  @include calFontSize($h1);
  @include calLineHeight($h1);
  font-family: $font-family-heading;
}

@mixin h2 {
  @include calFontSize($h2);
  @include calLineHeight($h2);
  font-family: $font-family-heading;
}

@mixin h3 {
  @include calFontSize($h3);
  @include calLineHeight($h3);
  font-family: $font-family-heading;
}

@mixin h4 {
  @include calFontSize($h4);
  @include calLineHeight($h4);
  font-family: $font-family-heading;
}

@mixin h5 {
  @include calFontSize($h5);
  @include calLineHeight($h5);
  font-family: $font-family-heading;
}

@mixin h6 {
  @include calFontSize($h6);
  @include calLineHeight($h6);
  font-family: $font-family-heading;
}

@mixin p {
  @include calFontSize($p);
  @include calLineHeight($p);
  font-family: $font-family-copy;
}

// Preset styles for including
h1 {@include h1;}
h2 {@include h2;}
h3 {@include h3;}
h4 {@include h4;}
h5 {@include h5;}
h6 {@include h6;}

// Spans and links should inherit styles from their parent
p {@include p;}

label,
span {
  @include calFontSize($h5);
  font-family: $font-family-heading;
  line-height: 100%;
}

a {
  cursor: pointer;
}
